RIVORA_APP_NAME=
RIVORA_APP_DESCRIPTION=
RIVORA_APP_VERSION=
RIVORA_APP_ENVIRONMENT=

RIVORA_SERVER_NAME=
RIVORA_SERVER_PATH=
RIVORA_SERVER_HOST=
RIVORA_SERVER_PORT=
RIVORA_SERVER_RELOAD=
RIVORA_SERVER_BASE_API=

RIVORA_DATABASE_LOCAL_NAME=
RIVORA_DATABASE_LOCAL_URL=
RIVORA_DATABASE_PRODUCTION_NAME=
RIVORA_DATABASE_PRODUCTION_URL=
RIVORA_DATABASE_AUTO_COMMIT=
RIVORA_DATABASE_AUTO_FLUSH=
RIVORA_DATABASE_ECHO_LOGS=
