RIVORA_APP_NAME=backend
RIVORA_APP_DESCRIPTION=A backend FastAPI service scaffolded with faststrapy
RIVORA_APP_VERSION=0.1.0
RIVORA_APP_ENVIRONMENT=dev

RIVORA_SERVER_NAME=backend
RIVORA_SERVER_PATH=app.main:app
RIVORA_SERVER_HOST=0.0.0.0
RIVORA_SERVER_PORT=8000
RIVORA_SERVER_RELOAD=true
RIVORA_SERVER_BASE_API=api/v1

RIVORA_DATABASE_LOCAL_NAME=backend_local
RIVORA_DATABASE_LOCAL_URL=postgresql+asyncpg://user:password@localhost:5432/backend
RIVORA_DATABASE_PRODUCTION_NAME=backend_prod
RIVORA_DATABASE_PRODUCTION_URL=replace-with-your-neon-or-production-database-url
RIVORA_DATABASE_AUTO_COMMIT=false
RIVORA_DATABASE_AUTO_FLUSH=false
RIVORA_DATABASE_ECHO_LOGS=true
